:root {
    --colorOfBody: white;
    --colorOfBackground: black; 
    --colorOfSignUpLogin: #31087B; 
}

/* extra large devices */
@media only screen and (min-width: 1200px) {
    main {
        height: 850px;
    }
    #cover-image {
        width: 50%;
    }
    #signup-login {
        width: 50%;
    }
}

body {
    margin: 0;
    padding: 3%;
    background-color: #E2DCC8;
}

main {
    display: flex;
    border-radius: 50px;
    overflow: hidden;
    perspective: 1px;
    /* check these out on google */
}

#cover-image {
    background-color: var(--colorOfBackground);
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup-login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorOfSignUpLogin);
    text-align: center;
}

#signup-form-container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.companyTitle {
    /* color: white; */
    font-size: 6rem;
    background: linear-gradient(to right, #FA2FB5,#FFC23C);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
}

form {
    width: 50%;
    padding: 0% 25% 0% 25%;
    text-align: left;
}

p {
    margin: 0;
}

input {
    margin-top: 2%;
    margin-bottom: 7%;
}

.signUp {
    height: 2rem;
    border-radius: 0.8rem;
    background-color: var(--colorOfBody);
    color: var(--colorOfBackground);
    font-size: 1.3rem;
}

.signUp:hover {
    background-color: var(--colorOfBackground);
    color: var(--colorOfBody);
    cursor: pointer;
}

.inputFields {
    height: 1.8rem;
    border-radius: 0.8rem;
    background-color: var(--colorOfBody);
}

.width100 {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

h2 {
    font-size: 3rem;
    margin: 0;
}

.flexx {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    color: var(--colorOfBody);
}

.labelCol {
    color: var(--colorOfBody);
}

.labelsInput {
    padding-left: 2.5%;
}

a {
    text-decoration: none;
}

a:hover, a:active, a:focus, a:visited { text-decoration: none; color:#E2DCC8 }

.jost {
    font-family: 'Fraunces', serif;
}
.rubik {
    font-family: 'Rubik', sans-serif;
}
.loginbut {
    border-radius: 0.8rem;
    width: 4rem;
    height: 1.8rem;
}
.loginbut:hover {
    cursor: pointer;
    text-decoration: underline;
}

h4 {
    margin: 0;
}